* {
    margin: 0;
    border: 0;
}

@font-face {
    font-family: 'Starshine Regular';
    src: url('Starshine-Regular.woff') format('woff');
}

.logo img {
    height: 125px;
    width: 275px;
    margin: 20px 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

header {
    height: 20vh;
    width: 100%;
    background: transparent;
}

.navbar ul {
    display: inline-flex;
    list-style: none;
    transform: translate(35%, -175%);
    -webkit-transform: translate(35%, -175%);
    -moz-transform: translate(35%, -175%);
    -ms-transform: translate(35%, -175%);
    -o-transform: translate(35%, -175%);
}

.navbar li {
    font-family: 'Amatic SC',
        cursive;
    /*font-family: 'Josefin Sans',
    sans-serif;*/
    font-size: 50px;
    margin: 5px 15px;
    font-weight: bold;
    letter-spacing: -2px;
}

.navbar a,
.navbar a:visited {
    text-decoration: none;
    color: ivory;
    font-weight: lighter;
}

.navbar a:hover {
    color: #662666;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    font-weight: bold;
}

.navbar img {
    height: 35px;
    width: 35px;
    margin-left: 30px;
}

/*Welcome Section*/
.welcome {
    height: 100vh;
    width: 100%;
    margin-top: -147px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url(img/baby.jpg);
    background-size: cover;
    background-position: top;
}

.welcome-text h1 {
    font-family: 'Starshine Regular', cursive;
    font-size: 75px;
    font-weight: lighter;
    color: white;
    letter-spacing: 2px;
    padding: 20rem 10rem 0 18rem;
    text-shadow: .5px .5px .5px #662666; 
}

.welcome-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: .5rem 0 0 22rem;
    text-shadow: 1px 1px .5px #662666;
}

.welcome-text button{
    height: 70px;
    width: 200px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: ivory;
    background-color: #662666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 1rem 41rem;
}

.welcome-text a {
    height: 70px;
    width: 200px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: ivory;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.welcome-text button:hover {
    background: transparent;
    color:#662666;
    border:2px solid #662666;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.welcome-text a:hover {
    color:#662666;
    border:#662666;
}


/*Featured Section*/
.featured {
    height: 70vh;
    width: 100%; 
}

.featured h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
    text-align: center;
    color: #4c2666;
    margin-top: 3rem; 
}
.featured-container {
    display: inline-flex;
    margin: 2rem 0 0 10rem;
}

.featured-container img {
    margin: 2rem auto;  
}

/*Package Section*/
.package {
    height: 80vh;
    width: 100%;
}

.package-container {
    display: inline; 
}

.package-left {
    background-image: url(img/package.jpg);
    background-size: cover;
    height: 80vh;
}

.package-right {
    background-color: #ffe1da; 
    height: 80vh;
}

.package-right h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 4rem;   
}

.package-right h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: lighter;
    text-align: center;
    margin: 2rem 3rem;
    line-height: 2;
}

.package-right button {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    background-color: #662666;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: white;
    height: 70px;
    width: 150px;
    margin: -1rem 0 0 19rem;
}

.package-right button:hover {
    color: #662666;
    background-color: white;
    font-weight: bold;
    border: 2px solid #662666;
    transition: .5s ease-out;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
}

/*How It Works Section*/

.how {
    height: 125vh;
    width: 100%;
    background-image: url(img/confetti.jpg);
    background-size: cover; 
}

.how h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    font-weight: bolder;
    text-align: center; 
    padding: 50px;
    color: #662666;
}

div.how-box {
    border: 4px solid #662666;
    height: 545px;
    background-color: ivory;
    color: #662666;
}

div.how-box:hover {
    border: 4px solid #ffe1da;
    transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
}

div.how-box img {
    width: 100%;
    height: auto;
}

div.number {
    padding: 5px;
    text-align: center;
    font-family: 'Starshine Regular';
    font-size: 50px;
}

div.desc h2 {
    padding: 5px;
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
}

div.desc h4 {
    padding: 5px;
    margin: 12px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
}

.how-container {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    transform:translate(45%,1%);
    -webkit-transform:translate(45%,1%);
    -moz-transform:translate(45%,1%);
    -ms-transform:translate(45%,1%);
    -o-transform:translate(45%,1%);
}

@media only screen and (max-width: 700px) {
    .how-container {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .how-container {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.how button {
    height: 70px;
    width: 200px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: ivory;
    background-color: #662666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 3rem 41rem;
}